.idea/
*.iml
*.pyc
*.pkl
*.feather
.ipynb_checkpoints

.DS_STORE

node_modules
package-lock.json
sample-data
python_modules
.vscode

**/recreated_raw_trips*.json
**/config_raw_trips.yaml
processing-pipeline/_map.html
processing-pipeline/plot_map/maps/*

**/.aws-sam
**/.aws-sam-*

**/packaged*.yaml

.DS_Store

**/test_*.html
**/result.ft
**/sample_*.html
**/test_*.png
**/sample_*.png
**/cached_raw_trips/*
!**/cached_raw_trips/.gitkeep
.env

venv/
/dist/
/coverage/
